@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

$fuentePrincipal: Audiowide;
$fuenteSecundaria: Syncopate;
$colorPrincipal: navy;
$colorSecundario: blue;
$colorFuente: white;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuentePrincipal;
    color: $colorFuente;
}

body{
    background-color: black;
    padding: 0 25px;
}

h1, h2, h3, h4, h5, h6{
    font-family: $fuenteSecundaria;
}

.special{
    text-shadow:
    0 0 1px $colorPrincipal,
    0 0 2px $colorSecundario,
    0 0 5px $colorPrincipal,
    0 0 15px $colorSecundario,
    0 0 25px $colorPrincipal,
    0 0 50px $colorSecundario,
    0 0 100px $colorPrincipal
    ;
}